#root {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
}

.loading-section {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.clock-section {
  position: relative;
  margin-bottom: 20px;
}

.clock-section__react-clock {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.clock-section__date {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 25%;
}

.monochrome-table:not(.datetime-picker table) {
  border-collapse: collapse;
  width: 100%;
}

.monochrome-table th:not(.datetime-picker th), .monochrome-table td:not(.datetime-picker td) {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.monochrome-table th:not(.datetime-picker th) {
  background-color: #f0f0f0;
  font-weight: bold;
}

.monochrome-table tbody tr:nth-child(even):not(.datetime-picker tbody tr) {
  background-color: #f9f9f9;
}

.monochrome-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.monochrome-button:hover {
  background-color: #555;
}

.settings-section__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.datetime-picker input {
  text-align: center;
}

.silent-time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 0 5px;
}

.silent-time__picker {
  text-align: center;
}