body {
  place-items: inherit !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.react-tabs {
  width: 300px;
}

.loading-section {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.clock-section {
  position: relative;
}

.clock-section__react-clock {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.clock-section__date {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.log-section td {
  padding: 5px;
}

.monochrome-table {
  border-collapse: collapse;
  width: 100%;
}

.monochrome-table th, .monochrome-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.monochrome-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.monochrome-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}