body {
  place-items: inherit !important;
}

#root {
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.react-tabs {
  width: 300px;
}

.loading-section {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.clock-section {
  position: relative;
}

.clock-section__react-clock {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.clock-section__date {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 25%;
}

.monochrome-table:not(.datetime-picker table) {
  border-collapse: collapse;
}

.monochrome-table th:not(.datetime-picker th), .monochrome-table td:not(.datetime-picker td) {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.monochrome-table th:not(.datetime-picker th) {
  background-color: #f0f0f0;
  font-weight: bold;
}

.monochrome-table tbody tr:nth-child(even):not(.datetime-picker tbody tr) {
  background-color: #f9f9f9;
}

.datetime-picker input {
  text-align: center;
}

.silent-time {
  display: flex;
  justify-content: space-between;
}

.silent-time__picker {
  text-align: center;
}